@{
    ViewBag.Title = "Choose";
}
<div class="form-horizontal">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Choose operation
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <a href="/Home/Inventory">Inventory & Stocks</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/Home/Inventory">Sale</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
